{% extends 'partials/base.html' %}

{% block title %}Carga de documentos - Alcance 3{% endblock %}

{% block content %}
  <h1 class="page-title">Alcance 3 - Huella de Carbono</h1>

  <!-- Mensaje inicial para agregar ítem -->
  <p id="initial-message" class="initial-message">Agregar elementos</p>

  <div id="item-container" class="item-container">
    <!-- Aquí se agregarán los ítems dinámicamente -->
  </div>

  <form id="data-form" method="post">
    {% csrf_token %}
    <div class="add-item-button-container">
      <button id="add-item-btn" type="button" onclick="addItem()" class="add-item-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
        Agregar Ítem
      </button>
    </div>

    <div class="upload-button-container">
      <button id="file-upload-btn" type="button" onclick="uploadToBigQuery()" class="file-upload-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z"/></svg>
        Subir a BigQuery
      </button>
    </div>
  </form>

  <!-- Incluir Flatpickr -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Obtener datos de BigQuery al cargar la página
      fetch('/obtener_datos_bigquery/')
        .then(response => response.json())
        .then(data => {
          window.categoryOptions = data;
        })
        .catch(error => {
          console.error('Error al obtener datos de BigQuery:', error);
        });

      // Inicializar Flatpickr para todos los campos de fecha
      flatpickr('.fecha-registro', {
        locale: 'es',
        dateFormat: 'Y-m-d'
      });
    });

    function addItem() {
      const initialMessage = document.getElementById('initial-message');
      if (initialMessage) {
        initialMessage.style.display = 'none';
      }

      const newItem = document.createElement('div');
      newItem.className = 'item';

      const itemNumber = document.getElementById('item-container').children.length + 1;

      newItem.innerHTML = `
        <div class="item-number">Ítem ${itemNumber}</div>
        <div class="input-group">
          <label>Categoría</label>
          <select name="categoria" class="categoria-select" onchange="updateSubcategoryOptions(this)">
            <option value="">Selecciona la categoría</option>
            ${window.categoryOptions ? Object.keys(window.categoryOptions).map(category => `<option value="${category}">${category}</option>`).join('') : ''}
          </select>
        </div>
        <div class="input-group">
          <label>Subcategoría</label>
          <select name="subcategoria" class="subcategoria-select" onchange="updateElementOptions(this)">
            <option value="">Selecciona la subcategoría</option>
          </select>
        </div>
        <div class="input-group">
          <label>Elemento</label>
          <select name="elemento" class="elemento-select" onchange="updateUnit(this)">
            <option value="">Selecciona el elemento</option>
          </select>
        </div>
        <div class="input-group">
          <label>Valor</label>
          <div class="value-input-container">
            <input type="text" placeholder="Ingresa el valor" class="carbon-value" oninput="validateNumberInput(this)">
            <span class="unit-label">-</span>
          </div>
        </div>
        <div class="input-group">
          <label>Fecha de Registro</label>
          <input type="text" class="fecha-registro flatpickr-input" placeholder="Selecciona la fecha">
        </div>
        <button class="remove-image" type="button" onclick="removeItem(this)">
          <i class="fa fa-trash"></i> Eliminar
        </button>
      `;

      document.getElementById('item-container').appendChild(newItem);
      updateItemNumbers();

      // Inicializar Flatpickr para el nuevo campo de fecha
      flatpickr(newItem.querySelector('.fecha-registro'), {
        locale: 'es',
        dateFormat: 'Y-m-d'
      });
    }

    function updateSubcategoryOptions(selectElement) {
      const itemContainer = selectElement.parentElement.parentElement;
      const subCategorySelect = itemContainer.querySelector('.subcategoria-select');
      const elementSelect = itemContainer.querySelector('.elemento-select');
      const unitLabel = itemContainer.querySelector('.unit-label');

      // Resetear subcategoría y elemento
      subCategorySelect.innerHTML = '<option value="">Selecciona la subcategoría</option>';
      elementSelect.innerHTML = '<option value="">Selecciona el elemento</option>';
      unitLabel.textContent = "-"; // Resetear la unidad de medida

      const selectedCategory = selectElement.value;
      const subcategories = window.categoryOptions[selectedCategory] || {};

      for (const subcategory in subcategories) {
        const newOption = document.createElement('option');
        newOption.value = subcategory;
        newOption.textContent = subcategory;
        subCategorySelect.appendChild(newOption);
      }
    }

    function updateElementOptions(selectElement) {
      const itemContainer = selectElement.parentElement.parentElement;
      const elementSelect = itemContainer.querySelector('.elemento-select');
      const unitLabel = itemContainer.querySelector('.unit-label');

      // Resetear elemento y unidad de medida
      elementSelect.innerHTML = '<option value="">Selecciona el elemento</option>';
      unitLabel.textContent = "-";

      const selectedSubcategory = selectElement.value;
      const category = itemContainer.querySelector('.categoria-select').value;
      const elements = window.categoryOptions[category][selectedSubcategory] || [];

      elements.forEach(element => {
        const newOption = document.createElement('option');
        newOption.value = element.elemento;
        newOption.textContent = element.elemento;
        newOption.setAttribute("data-unit", element.unidad);
        elementSelect.appendChild(newOption);
      });
    }

    function updateUnit(selectElement) {
      const itemContainer = selectElement.parentElement.parentElement;
      const unitLabel = itemContainer.querySelector('.unit-label');
      const selectedOption = selectElement.options[selectElement.selectedIndex];

      unitLabel.textContent = selectedOption.getAttribute("data-unit") || "-";
    }

    function validateNumberInput(input) {
      input.value = input.value.replace(/[^0-9.]/g, '');
    }

    function removeItem(button) {
      button.parentElement.remove();
      updateItemNumbers();
      if (document.getElementById('item-container').children.length === 0) {
        document.getElementById('initial-message').style.display = 'block';
      }
    }

    function updateItemNumbers() {
      const items = document.querySelectorAll('.item');
      items.forEach((item, index) => {
        const itemNumber = item.querySelector('.item-number');
        itemNumber.textContent = `Ítem ${index + 1}`;
      });
    }

    function uploadToBigQuery() {
      const items = document.querySelectorAll('.item');
      const data = [];

      let hasIncompleteItem = false;

      items.forEach(item => {
        const categoria = item.querySelector('.categoria-select').value;
        const subcategoria = item.querySelector('.subcategoria-select').value;
        const elemento = item.querySelector('.elemento-select').value;
        const valor = item.querySelector('.carbon-value').value;
        const unidad = item.querySelector('.unit-label').textContent;
        const fechaRegistro = item.querySelector('.fecha-registro').value;

        if (categoria && subcategoria && elemento && valor && fechaRegistro) {
          data.push({ categoria, subcategoria, elemento, valor, unidad, fechaRegistro });
        } else {
          hasIncompleteItem = true;
        }
      });

      if (hasIncompleteItem) {
        alert('Por favor, completa todos los campos antes de subir.');
        return;
      }

      if (data.length === 0) {
        alert("No hay datos para subir a BigQuery.");
        return;
      }

      fetch('/upload_to_bigquery/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCsrfToken()
        },
        body: JSON.stringify(data)
      })
      .then(response => {
        return response.json().then(data => {
          if (!response.ok) {
            throw data;
          }
          return data;
        });
      })
      .then(result => {
        alert(result.message);
      })
      .catch(errorData => {
        console.error('Error al subir los datos:', errorData);
        alert("Ocurrió un error al subir los datos: " + (errorData.message || 'Error desconocido'));
      });
    }

    function getCsrfToken() {
      return document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    }
  </script>

{% endblock %}
