{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Carga de documentos - Alcance 3{% endblock %}

{% block content %}
  <h1 class="page-title">Alcance 3 - Huella de Carbono</h1>

  <!-- Mensaje inicial para agregar ítem -->
  <p id="initial-message" class="initial-message">Agregar elementos</p>

  <div id="item-container" class="item-container">
    <!-- Aquí se agregarán los ítems dinámicamente -->
  </div>

  <form id="data-form" method="post">
    {% csrf_token %}
    <div class="add-item-button-container">
      <button id="add-item-btn" type="button" onclick="addItem()" class="add-item-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
        </svg>
        Agregar Ítem
      </button>
    </div>

    <div class="upload-button-container">
      <button id="file-upload-btn" type="button" onclick="uploadToBigQuery()" class="file-upload-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z"/>
        </svg>
        Subir a BigQuery
      </button>
    </div>
  </form>

  <!-- Incluir Flatpickr -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

  <!-- Cargar el archivo JavaScript separado -->
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
