{% extends 'partials/base.html' %}

{% block title %}Carga de documentos{% endblock %}

{% block content %}
  <h1>Subir respaldo</h1>
  
  <!-- Contenedor de los alcances -->
  <div class="charts">
    <div class="class">
      <h3>Alcance 1</h3>
      <p>Descripción de Alcance 1</p>
      <button onclick="location.href='{% url 'alcance1' %}'" class="file-upload-btn">Ir a Alcance 1</button>
    </div>
  </div>

  <div class="charts">
    <div class="chart">
      <h3>Alcance 2</h3>
      <p>Descripción de Alcance 2</p>
      <button onclick="location.href='{% url 'alcance2' %}'" class="file-upload-btn">
      Ir a Alcance 2
      </button>
    </div>

    <dic class="chart">
      <h3>Alcance 3</h3>
      <p>Descripción de Alcance 3</p>
      <button onclick="location.href='{% url 'alcance3' %}'" class="file-upload-btn">Ir a Alcance 3</button>
    </div>

  <!-- Formulario de carga de documentos -->
  <form method="post" enctype="multipart/form-data" class="file-upload-form">
    {% csrf_token %}
    <input type="file" name="pdf_file" required> <br>
    <button class="file-upload-btn" type="submit">Subir y Procesar</button>
  </form>
{% endblock %}
