<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/noflxksrkig-4%3A77?alt=media&token=fde79ac1-99f6-40c9-ad56-22c825ce3670">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->        
        {% include 'partials/sidebar.html' %}

        <!-- Content -->
        <div id="content">
          <div class="container-fluid">
            <div class="file-upload">
                {% block content %}

                <!-- El contenido dinámico se cargará aquí -->

                {% endblock %}
          </div>
          </div>
        </div>
      </div>
    
</body>
</html>
