/* Estilos Globales */

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 315px;
  height: 104px;
  padding: 16 px;
  box-sizing: border-box;
}

.icon {
  width: 40px;
  height: 100%;
}

.carbonia {
  color: rgba(59, 203, 190);
  font-size: 28px;
  line-height: 114%;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

/* Contenedor Principal */

.file-upload {
  background-color: #ffffff;
  width: auto;
  margin: 0;
  padding: 20px;
}

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  position: relative;
  padding: 0px;
}

.container-fluid {
  padding: 0;
  align-items: top-right;
}

/* Sidebar */
#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: rgba(59, 203, 190);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px 0px;
  text-align: center;
}

#sidebar header a:hover {
  color: #dbdbdb;
}

#sidebar .nav{
  margin: 10 px;
  text-decoration: none;
}

#sidebar .nav a{
  background: none;
  color: #2a9d8f;
  font-size: 16px;
  padding: 16px 24px;
  text-decoration: none;
}

#sidebar .nav svg{
  margin: 0px 5px 0 0;
  width: 20px;
  height: 20px;
  color: #2a9d8f; 
  fill: #2a9d8f;
}

#sidebar .nav svg:hover{
  fill: #1E7167;
}

#sidebar .nav a:active{
  color: rgba(59, 203, 190);
}


#sidebar .nav a:hover{
  background: none;
  color: #1E7167;
  font-weight: bold;
}


#sidebar .nav a:active{
  background: none;
  color: rgba(59, 203, 190);
  font-weight: bold;
}

#sidebar .nav a i{
  margin-right: 16px;
  margin-bottom: 10px;
  text-decoration: none;
}

#sidebar ul{
  text-decoration: none;
  list-style-type: none;
  margin-left: -50px;
}

#sidebar ul li{
  padding: 10px 0;
}

/* Encabezado */

.search {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* Dashboard */
.dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.panel {
  background-color: white;
  padding: 20px;
  width: 22%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel span {
  display: block;
  font-size: 32px;
  margin-top: 10px;
}

/* Gráficos */
.charts {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.chart {
  background-color: white;
  padding: 20px;
  width: 48%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.donut {
  text-align: center;
}

/* Tabla de Sucursales */
.branches {
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table thead th {
  background-color: rgba(59, 203, 190);
  color: white;
  padding: 10px;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(59, 203, 190);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Botones y Subida de Archivos */
.file-upload {
  background-color: #ffffff;
  width: auto;
  margin: 0;
  padding: 20px;
}

.file-upload-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fff;
  background: rgba(59, 203, 190);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  border-bottom: 4px solid rgb(42, 154, 145);
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: rgb(42, 154, 145);
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed rgba(59, 203, 190);
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: rgba(59, 203, 190);
  border: 4px dashed white;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: white;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  cursor: pointer;
}


/* Contenido */

.file-upload h1 {
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
  color: #222;
}

.file-upload form {
  padding-top: 10px;
}

.file-upload-btn {
  margin-top: 20px;
  color: #fff;
  background: rgba(59, 203, 190, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  border-bottom: 4px solid rgb(42, 154, 145);
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.file-upload-btn:hover {
  background: rgb(42, 154, 145);
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed rgba(59, 203, 190, 1);
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: rgba(59, 203, 190, 1);
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: rgb(42, 154, 145);
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}


  /* Estilos de tabla dashboard */
  /* Estilos Generales */
  .styled-table-container {
    width: 100%;
    overflow-x: auto; /* Habilita el scroll horizontal */
    display: block; /* Asegura que sea un contenedor de bloque */
    white-space: nowrap; /* Evita que el contenido de las celdas haga salto de línea */
}

  .styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 20px 0;
  background-color: #f9f9f9;
  overflow: scroll;
}

.styled-table thead th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.styled-table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Alternar color de filas */
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* Alineación de texto para datos numéricos */
.align-right {
  text-align: right;
}

/* Resaltar valores numéricos altos */
.styled-table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.styled-table tbody td.align-right {
  padding: 10px;
  text-align: right;
}

/* Estilos de cabecera */
.styled-table thead th {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

/* Resaltar valores importantes */
.styled-table tbody td.highlight-high {
  background-color: #e74c3c;
  color: white;
}

.styled-table tbody td.highlight-medium {
  background-color: #f39c12;
  color: white;
}

.styled-table tbody td.highlight-low {
  background-color: #27ae60;
  color: white;
}
